@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("fonts/NotoSans-Regular.woff2") format("woff2"),
    url("fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    url("fonts/NotoSans-Italic.woff2") format("woff2"),
    url("fonts/NotoSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url("fonts/NotoSans-Medium.woff2") format("woff2"),
    url("fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url("fonts/NotoSans-SemiBold.woff2") format("woff2"),
    url("fonts/NotoSans-SemiBold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283c54;
  min-width: 1280px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 0;
  margin: 0 40px 0 auto;
  list-style: none;
}

.site-navigation-item {
  margin-right: 30px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  opacity: 0.7;
}

.site-navigation-item a:active {
  opacity: 0.5;
}

.signin:hover,
.signin:focus {
  opacity: 0.7;
}

.signin:active {
  opacity: 0.5;
}

.section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 45px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #163152;
}

.section h2::after {
  content: "";
  margin-top:  10px;
  border-bottom: 2px solid #00c6bd;
}

.main-screen {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 30px;
  padding-top: 25px;
}

.main-screen h2 {
  grid-row: 1 / 3;
  grid-column: 2 / 6;
  z-index: 1;
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 80px;
  letter-spacing: 0.03em;
  color: #163152;
  text-transform: uppercase;
}

.main-screen h2 span {
  color: #fdfdff;
}

.slider {
  grid-row: 2 / 4;
  grid-column: 1 / 12;
  display: flex;
  width: 1070px;
  overflow: hidden;
}

.slider-buttons {
  display: flex;
  grid-row: 3 / 4;
  grid-column: 9 / 12;
  margin-left: auto;
}
.slider-button {
  width: 98px;
  height: 76px;
  background-image: url("../img/main-page/main-screen/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fdfdff;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.slider-button-next {
  transform: scale(-1, 1);
}

.slider-button:hover,
.slider-button:focus {
  opacity: 0.7;
}

.slider-button:active {
  opacity: 0.5;
}

.more {
  display: flex;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fdfdff;
}

.more::after {
  content: "";
  width: 31px;
  height: 31px;
  border: 1px solid #fdfdff;
  border-radius: 50%;
  margin-left: 15px;
  background-image: url("../img/main-page/main-screen/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.more:hover,
.more:focus {
  opacity: 0.7;
}

.more:active {
  opacity: 0.5;
}

.main-screen-nav-list {
  grid-row: 1 / -1;
  grid-column: 12 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-screen-nav-item {
  margin-bottom: 20px;
}

.main-screen-nav-item:last-child {
  margin-bottom: 0;
}

.main-screen-nav-item a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
  writing-mode: vertical-rl;
}

.main-screen-nav-item a:hover,
.main-screen-nav-item a:focus {
  opacity: 0.7;
}

.main-screen-nav-item a:active {
  opacity: 0.5;
}

.events {
  padding-top: 115px;
}

.events-articles {
  padding: 0;
  margin: 0;
  list-style: none;
}

.events-article {
  display: flex;
  margin-bottom: 120px;
}

.events-article-text {
  padding: 45px 70px 10px;
}

.events-article-img {
  order: 2;
}

.events-article-more {
  order: 1;
}

.events-article h3 {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
  font-weight: 600;
  line-height: 34px;
  color: #163152;
}

.events-article h3::after {
  content: "";
  width: 130px;
  margin-top: 10px;
  border-bottom: 2px solid #00c6bd;
}

.events-article > div {
  display: flex;
  flex-direction: column;
}

.events-article time {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
}

.events-article p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283c54;
}

.events-more {
  width: 58px;
  height: 58px;
  margin: auto 70px 45px 20px;
  border: 1px solid #163152;
  border-radius: 50%;
  background-image: url("../img/main-page/event1/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.events-more:hover,
.events-more:focus {
  opacity: 0.7;
}

.events-more:active {
  opacity: 0.5;
}

.events-article-reverse {
  display: flex;
  text-align: right;
}

.events-article-reverse h3 {
  align-items: flex-end;
}

.events-article-reverse .events-more {
  transform: scale(-1, 1);
  margin: auto 20px 45px 70px;
}

.events-article-reverse .events-article-img {
  order: 0;
}

.events-article-reverse .events-article-more {
  order: 1;
}

.events-article-reverse .events-article-text {
  order: 2;
}

.services {
  padding-top: 5px;
  padding-bottom: 20px;
}

.services h2::after {
  width: 140px;
}

.rent-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 40px 0 0 0;
  list-style: none;
}

.rent-item {
  width: 370px;
  margin-right: 30px;
  background-color: #fdfdff;
  box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}

.rent-item:last-child {
  margin-right: 0;
}

.item-card {
  padding: 30px 30px 15px;
}

.item-card h3 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #163152;
  text-align: center;
}

.item-description {
  margin: 10px 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  color: #283c54;
}

.item-features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-features li {
  position: relative;
  padding-left: 15px;
  line-height: 19px;
  font-size: 14px;
  color: #283c54;
}

.item-features li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00c6bd;
}

.item-price {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 25px;
  font-size: 18px;
  color: #163152;
}
